$red-color: rgb(202, 38, 38);


.container{
    background: $red-color;
    max-width: 1200px;
    height: 600px;
}
.container {
    color:$red-color;
}
.ttt {
    color:$red-color;
}
.ccc {
    color:$red-color;
}
.bbb {
    color:$red-color;
}